# Pandas

1) Import pandas package;
   import pyplot of matplotlib package;
   import seaborn package

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

# Panda Series

In [2]:
# creates a Pandas Series - a 1D array
# with associated indexes
s = pd.Series([21, 32, 45])

# s =
# 0  21
# 1  32
# 2  45
print('s =\n', s,sep='')
print(s[0])

# update series by index-name
s[1] = 38
print('s =\n', s,sep='')

s =
0    21
1    32
2    45
dtype: int64
21
s =
0    21
1    38
2    45
dtype: int64

### A Pandas Series can be manipulated with index names

In [3]:
# adding indexes to our series
s = pd.Series([21, 32, 45], 
        index=['mary', 'john', 'james'])

# s =
# mary   21
# john   32
# james  45
print('s =\n', s, sep='')

# ['mary', 'john', 'james']
print('index =', s.index)

# update series by index-name
s['john'] = 38
print('s =\n', s, sep='')

#s.index[2] ='jason' #index are immutable 
#print('s =\n', s, sep='')

s =
mary     21
john     32
james    45
dtype: int64
index = Index(['mary', 'john', 'james'], dtype='object')
s =
mary     21
john     38
james    45
dtype: int64

### Panda Series accessed by position or name

In [5]:
# s.iloc[1] = 32
print('s.iloc[1] =', s.iloc[1])

# s.iloc[1:1] = []
print('s.iloc[1:1] =', s.iloc[1:1])

# s.iloc[1:2] = john 32
print('s.iloc[1:2] =', s.iloc[1:2])

# s.iloc[1:3] =
# john  32
# james 45
print('s.iloc[1:3] =\n', s.iloc[1:3], sep='')

# s.loc['john'] = 32
print("s.loc['john'] =", s.loc['john'])

# s.loc['john':'john'] = john 32
print("s.loc['john':'john'] =", 
    s.loc['john':'john'])

# s.loc['john':'james'] =
# john     32
# james    45
print("s.loc['john':'james'] =\n", 
    s.loc['john':'james'], sep='')

s.iloc[1] = 38
s.iloc[1:1] = Series([], dtype: int64)
s.iloc[1:2] = john    38
dtype: int64
s.iloc[1:3] =
john     38
james    45
dtype: int64
s.loc['john'] = 38
s.loc['john':'john'] = john    38
dtype: int64
s.loc['john':'james'] =
john     38
james    45
dtype: int64

# Dataframe

In [6]:
# creates a Pandas DataFrame - a 2D array
# with default index and column names 
df = pd.DataFrame([21, 32, 45])

# df =
#     0
# 0  21
# 1  32
# 2  45
print('df =\n', df, sep='')

df =
    0
0  21
1  32
2  45

## Specifying Index Names and Column Names to a DataFrame

In [7]:
# creates a dataframe with column 
# and index names
df = pd.DataFrame([21, 32, 45],
    columns = ['age'],
    index = ['mary', 'john', 'james']    
)

# df =
#       age
# mary  21
# john  32
# james 45
print('df =\n', df, sep='')
print(df.head())
print(df.to_string())
print(df)

df =
       age
mary    21
john    32
james   45
       age
mary    21
john    32
james   45
       age
mary    21
john    32
james   45
       age
mary    21
john    32
james   45

### A more complex example

In [8]:
# creates a more complex dataframe
df = pd.DataFrame(
    [
        [21, 1.7, 55],
        [32, 1.8, 65],
        [45, 1.6, 50]
    ],
    columns = ['age', 'height', 'weight'],
    index = ['mary', 'john', 'james']    
)

# df =       
#        age  height  weight
# mary    21     1.7      55
# john    32     1.8      65
# james   45     1.6      50
print('df =\n', df, sep='')

df =
       age  height  weight
mary    21     1.7      55
john    32     1.8      65
james   45     1.6      50

### Accessing elements in Pandas by position

In [9]:
# creates a pandas dataframe
df = pd.DataFrame(
    [
        [21, 1.7, 55],
        [32, 1.8, 65],
        [45, 1.6, 50]
    ],
    columns = ['age', 'height', 'weight'],
    index = ['mary', 'john', 'james']    
)

# df =       
#        age  height  weight
# mary    21     1.7      55
# john    32     1.8      65
# james   45     1.6      50
print('df =\n', df, sep='')

# retrieving as a pandas series
# df.iloc[1] =
# age       32.0
# height     1.8
# weight    65.0
print('df.iloc[1] =\n', df.iloc[1], sep='')

# retrieving as a pandas dataframe
# df.iloc[[1]] =
#       age  height  weight
# john   32     1.8      65
print('df.iloc[[1]] =\n', df.iloc[[1]], sep='')

# df.iloc[1:,1:] =
#        height  weight
# john      1.8      65
# james     1.6      50
print('df.iloc[1:,1:] =\n', df.iloc[1:,1:], sep='')

df =
       age  height  weight
mary    21     1.7      55
john    32     1.8      65
james   45     1.6      50
df.iloc[1] =
age       32.0
height     1.8
weight    65.0
Name: john, dtype: float64
df.iloc[[1]] =
      age  height  weight
john   32     1.8      65
df.iloc[1:,1:] =
       height  weight
john      1.8      65
james     1.6      50

### Accessed by name

In [10]:
# retrieving as a pandas series
# df.loc['john'] =
# age       32.0
# height     1.8
# weight    65.0
print("df.loc['john'] =\n", df.loc['john'], sep='')

# retrieving as a pandas dataframe
# df.loc[['john']] =
#       age  height  weight
# john   32     1.8      65
print("df.loc[['john']] =\n", df.loc[['john']], sep='')

# df.loc['john':'james'] =
#        age  height  weight
# john    32     1.8      65
# james   45     1.6      50
print("df.loc['john':'james'] =\n", 
     df.loc['john':'james'], sep='')

df.loc['john'] =
age       32.0
height     1.8
weight    65.0
Name: john, dtype: float64
df.loc[['john']] =
      age  height  weight
john   32     1.8      65
df.loc['john':'james'] =
       age  height  weight
john    32     1.8      65
james   45     1.6      50

# Dataframe from Dictionary

In [10]:
data = {
    'Student': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Grade': ['A', 'B', 'C', 'B', 'A']
}
# Convert the dictionary to a DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

   Student Grade
0    Alice     A
1      Bob     B
2  Charlie     C
3    David     B
4      Eva     A

### Load from CSV or JSON

In [12]:
# Load data from Json onto Dataframe
df = pd.read_json('data/json/data.json')

# By default it print out the first 5 rows of data with columns
print(df.head())

# Load data from csv onto Dataframe
df = pd.read_csv('data/data.csv')

print(df.head())

# print the last 5 rows
print(df.tail()) 

# Get the total number of rows
num_rows = df.shape[0]

# Print the total number of rows
print('Total number of rows:', num_rows)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4
Total number of rows: 169

# Data Cleaning

### Remove empty data

In [13]:
df = pd.read_csv('data/data.csv')


print(df.shape[0])

# This will remove the null rows from the original data
# df.dropna(inplace = True)

# Identify rows with NaN values
rows_with_nan = df[df.isna().any(axis=1)]
print(rows_with_nan)

#Remove those with null values
new_df = df.dropna()
print(new_df.to_string())
#Print the total number of rows
print(new_df.shape[0])

169
     Duration  Pulse  Maxpulse  Calories
17         45     90       112       NaN
27         60    103       132       NaN
91         45    107       137       NaN
118        60    105       125       NaN
141        60     97       127       NaN
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4
164

### Replacing null values

In [16]:
# Replace with a specified value
df_130 = rows_with_nan.fillna(130)
print(df_130.to_string())

#Find the mean of data.csv
mean_calories = df['Calories'].mean()
print('Mean calories: ',mean_calories)
#Replace with mean
df_mean = rows_with_nan.fillna(mean_calories)
print(df_mean.to_string())

#Find the median of data.csv
median_calories = df['Calories'].median()
print('Median calories: ',median_calories)
#Replace with median
df_median = rows_with_nan.fillna(median_calories)
print(df_median.to_string())

#Find the mode of data.csv
mode_calories = df['Calories'].mode()[0]
print('Mode calories: ',mode_calories)
#Replace with mode
df_mode = rows_with_nan.fillna(mode_calories)
print(df_mode.to_string())

     Duration  Pulse  Maxpulse  Calories
17         45     90       112     130.0
27         60    103       132     130.0
91         45    107       137     130.0
118        60    105       125     130.0
141        60     97       127     130.0
Mean calories:  375.79024390243904
     Duration  Pulse  Maxpulse    Calories
17         45     90       112  375.790244
27         60    103       132  375.790244
91         45    107       137  375.790244
118        60    105       125  375.790244
141        60     97       127  375.790244
Median calories:  318.6
     Duration  Pulse  Maxpulse  Calories
17         45     90       112     318.6
27         60    103       132     318.6
91         45    107       137     318.6
118        60    105       125     318.6
141        60     97       127     318.6
Mode calories:  300.0
     Duration  Pulse  Maxpulse  Calories
17         45     90       112     300.0
27         60    103       132     300.0
91         45    107       137     300.0
118        60    105       125     300.0
141        60     97       127     300.0

### Duplicate Rows

In [15]:
# Returns True for every row that is a duplicate, otherwise False:
df = pd.read_csv('data/data.csv')
print(df.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
164    False
165    False
166    False
167    False
168    False
Length: 169, dtype: bool